.contactMe{
    color: rgb(225, 10, 178);
    
}
.contact{
    background-color: black;
    color: white;
}
form input, textarea {
border-radius: 10px;
}

.submit {
    font-size: 20px;
    background-color: rgb(211, 23, 111);
    border-radius: 16px;
    color: white;
}

@media only screen and (max-width: 576px) {
 .contact input{
    width: 100% !important;
  }
  .contact textarea {
    width: 100% !important;
  }
   
}