.contactMe{
    color: rgb(225, 10, 178);
}
.contact{
    background-color: black;
    color: white;
}
form input, textarea {
border-radius: 10px;
}

.submit {
    font-size: 30px;
    background-color: rgb(211, 23, 111);
    border-radius: 20px;
    color: white;
}