.home{
background-image: url('../images/wp2758145.gif');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
.homeText{
    color: white;
    display: flex;
    align-items: center;

}
.homeText h3{
    color: rgb(225, 10, 178) !important;
}
.homeImage{
    padding-top: 70px;
}
.icon a{
    font-size: 20px;
    padding: 0 10px;
}
.icon a:hover{
    color: rgb(225, 10, 178);
}
.icon:hover{
    background-color: rgb(225, 10, 178);
}
@media screen and (min-width: 769px) {
    .homeImage{
        padding-left: 80px;
    }
}
.resume{
   
    background-color: rgb(211, 23, 111);
    border-radius: 20px;
    font-size: 20px;
   
}
.resume a{
    text-decoration: none;
    color: white;
}

