.projects {
    background-color: black;
   
    }
    hr {
        height: 2px;
        background-image: -webkit-linear-gradient(left, black, white, white, black);
    }
    .projectText {
    text-align: center;
    }
    .projectText {
    color:black;
    }
    .project-name{
        color: black
    }
    
    .card {
        transition: 2s;
    }
    .card:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    .card-body a {
        color: white;
        background-color: rgb(211, 23, 111);
    }
    .card-body a:hover {
      background-color: transparent;
      border: 1px solid rgb(211, 23, 111);
    }
    .detailsButton {
        background-color: rgb(211, 23, 111);
        border-radius: 10px;
        font-size: 20px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  

